@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden; /* Prevent horizontal scrolling but allow vertical scrolling */
}

.scrollable-section {
  overflow: auto; /* or overflow-y: scroll if you want vertical scrolling */
}

:root {
  --font-quicksand: 'Quicksand', cursive;
  --font-chivo: 'Chivo', sans-serif;
}

body {
  font-family: var(--font-chivo); /* Chivo as the default font */
}

h1, h2, h3 {
  font-family: var(--font-quicksand); /* Use Pacifico for headings */
}


.masked-image {
  mask-image: url('./wavehaikei.png'); /* Use a SVG or any shape */
  mask-size: cover;
  mask-position: center;
  -webkit-mask-image: url('./wavehaikei.png'); /* For WebKit-based browsers */
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}
